    /* Header styling */

@media (max-width: 500px){
    header{
        flex-direction: column;
    }

    ul{
        padding-right: 0px;
    }

    h1 a{
        padding-left: 0px;
    }
}

/* About page styling*/

#about-info-section #about-info-img-container1,
#about-info-section #about-info-img-container2,
#about-info-section #about-info-img-container3{
    display: none;
}

.about-info-text{
    padding: 15px;
}

@media (max-width: 500px){
    .about-info-text h2{
        padding-bottom: 10px;
    }
    .about-info-text h2,#testimonials-section h3{
        font-size: 1.3rem;
    }
    .about-info-text p,.slider{
        font-size: 1rem;
    }
}

@media (max-width: 340px){
    .about-info-text h2,#testimonials-section h3{
        font-size: 1.1rem;
    }
    .about-info-text p,.slider{
        font-size: 0.9rem;
    }
}